/* WP Admin Box Border Style */
.redux-ow_repeater-image {
	border: 2px solid #2196F3;
	margin-bottom: 10px;
}

.redux-dev-mode-notice-container,
body.wp-admin .rAds .mgv1_1,
body.wp-admin .rAds {
	display: none !important;
}

.redux-notice-field {
	border-color: #0091cd;
	position: relative;
	border-right: 5px solid #0091cd;
	background-color: #ccc;
}