/*----------------------------------------------------
@File: Responsvie Styles
----------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

@media (min-width: 992px) {

	.search_form_area {
		float: right;
	}
	.ddl-switch {
		display: none;
	}
	.menu_row .navbar-nav li.dropdown > .dropdown-menu {
		background: #27ae61 none repeat scroll 0 0;
		border: medium none;
		border-radius: 0;
		transform: scale(1, 0);
		transform-origin: center top 0;
		transition: all 300ms ease-in-out 0s;
		white-space: nowrap;
		top: 0;
	}
	.menu_row .navbar-nav > li.dropdown > .dropdown-menu {
		top: 100%;
	}
	.menu_row .navbar-nav li.dropdown:hover > .dropdown-menu {
		display: block;
		transform: scale(1, 1);
	}
	.menu_row .navbar-nav > li .dropdown-menu li a {
		line-height: 40px;
	}

	.menu_row ul > li > .dropdown-menu,
	.menu_row ul > li .dropdown-menu ul,
	.menu_row ul > li .dropdown-menu ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul	{
		right: auto;
	}	
	.menu_row ul > li .dropdown-menu ul,
	.menu_row ul > li .dropdown-menu ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
		left: 100%;
	}	
	.menu_row ul > li .dropdown-menu ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul {
		right: 100%;
	}	
	.menu_row ul > li .dropdown-menu ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	.menu_row ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child > .dropdown-menu,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul,
	.menu_row .navbar-collapse > ul > li:last-child .dropdown-menu ul ul ul ul ul ul ul ul ul	{
		left: auto;
	}
	
	.team_members .team:nth-child(3n+1) {
		clear: both;
	}
	.content-area.blog-list {
		padding-right: 60px;
	}
	.sv_subjects li:nth-child(3n+1) {
		clear: both;
	}
	.logo-block .col-sm-6:last-of-type {
		padding-left: 0;
	}

}
@media (min-width: 768px) {

	/* -- Tesimonial */
	.testimonial:nth-last-child(2),
	.testimonial:last-of-type {
		margin-bottom: 0;
	}
	.sv_subjects li:nth-child(3n+1) {
		clear: both;
	}	
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.successive_process .successive_process_inner {
		margin: 0 15px;
	}
	.marketing_app ul li {
		margin-bottom: 20px;
	}
	
	.marketing_app ul {
		margin-bottom: 30px;
	}
	
	.homeslide .tp-caption.circle-blue, .circle-blue,
	.homeslide .tp-caption.circle-yellow, .circle-yellow,
	.homeslide .tp-caption.circle-red, .circle-red  {
		width: 60px;
		height: 60px;
	} 
	
	.borderred_link span {
		padding: 0 20px;
	}
}
@media (max-width: 1199px) {
  .menu_row .menu_area #mainMenu .navbar-nav li a {
    padding: 0 15px;
  }
  
}
@media (max-width: 991px) {
	.team_members .team:nth-child(2n+1) {
		clear: both;
	}
}
@media (max-width: 991px) {
	
	/* .homeslide .tp-caption.slider-title-text.tp-resizeme {
		font-size: 8px !important
	} */
	.menu_row .search_form_area {
		float: left;
	}
	.caret {
		display: none;
	}
	.top_row .tagLine {
		padding: 2px 15px;
		line-height: 26px;
	}
	.top_row .navbar-right li {
		padding: 0px;
	}
  
	.top_row .tagLine i {
		line-height: 26px;
		font-size: 17px;
	}
	.top_row .navbar-right {
		padding-bottom: 5px;
	}
	.logo_row .nav {
		width: 100%;
	}
	.menu_row  .ddl-switch {
		background-color: #fff;
		cursor: pointer;
		font-size: 16px;
		padding: 1.5px 7px;
		position: absolute;
		right: 4px;
		z-index: 9999;
		top: 20px;
		color: #25A45B;
	}
	.menu_row .ddl-active > .ddl-switch:before {
		content: "\f106";
	}
	.menu_row  li.dropdown > .dropdown-menu .ddl-switch { 
		top: 5px;
	}
	.menu_row .menu_area {
		padding: 0;
	}
	.menu_row .menu_area button[aria-controls="mainMenu"] {
		margin: 0;
		border: none;
		background: rgba(0, 0, 0, 0.06);
		border-radius: 0;
		line-height: 60px;
		padding: 0 20px;
		width: 100%;
		font-size: 18px;
		text-transform: uppercase;
		font-family: 'Droid Serif', serif;
		display: block !important;
	}
  .menu_row .navbar-collapse {
	padding: 0;
  }
  .menu_row .navbar-collapse.collapse {
	display: none !important;
  }
  .menu_row .navbar-collapse.collapse.in {
	display: block !important;
  }
  .menu_row .menu_area button[aria-controls="mainMenu"] i {
    margin-right: 5px;
  }
  .menu_row .menu_area #mainMenu .navbar-nav {
    margin: 0;
	width: 100%;
  }
  .menu_row .menu_area #mainMenu .navbar-nav li {
	display: block;
	clear: both;
	width: 100%;
  }
  .menu_row .menu_area #mainMenu .navbar-nav  {
    background: rgba(0, 0, 0, 0.07);
  }
  .menu_row .menu_area #mainMenu .navbar-nav li a:after {
    display: none;
  }
  .menu_row .menu_area .navbar-nav li .dropdown-menu {
    position: relative;
    width: 100%;
    box-shadow: none;
    padding: 0 0 0 10px;
	background: none;
	border: none;
	margin: 0;
  }
	.menu_row .menu_area #mainMenu .navbar-nav li a:hover,
	.menu_row .menu_area #mainMenu .navbar-nav li a:focus {
		background-color: #27AE61;
	}
	.menu_row .menu_area .navbar-nav li .dropdown-menu li a {
		padding-left: 10px;
	}
  .menu_row .menu_area .navbar-nav li > .dropdown-menu li a {
	line-height: 30px;
	padding-left: 35px;
  }
  
  .menu_row .search_form_area {
    padding: 0;
  }
  .menu_row .search_form_area form .input-group {
    overflow: hidden;
  }
  .menu_row .search_form_area form .input-group span {
    padding: 0 15px;
  }
   
  .menu_row .search_form_area form .input-group input:focus + span:after {
    font-size: 10px;
    line-height: 20px;
    padding-right: 50px;
  }
  
  .menu_row  .search_form_area  .free_analysis {
	float: right;
  }
  
  .menu_row .search_form_area .free_analysis,
  .free_analysis {
	font-size: 12px;
	padding: 0;
	position: relative;
	z-index: 1;
  }
  
  .search_form_area {
	width: 100%;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 991px) {
  .trial30_banner {
    padding-top: 25px;
  }
  .trial30_banner .col-sm-10,
  .trial30_banner .col-sm-2 {
    width: 100%;
  }
   .entry-content-inner blockquote::before {
	margin-right: 10px;
	width: 46px;
  }
  .entry-content-inner blockquote {
	padding: 0;
  }
  .content-area.full-content .page_case_study {
	padding: 0 15px;
  }
  .top_row .tagLine i {
	float: none;
  }
}
@media (max-width: 767px) {

	.homeslide .tp-caption.circle-blue, .circle-blue,
	.homeslide .tp-caption.circle-yellow, .circle-yellow,
	.homeslide .tp-caption.circle-red, .circle-red  {
		width: 30px;
		height: 30px;
		
	} 
	
	.tp-bullets.hebe.horizontal.noSwipe {
		left: 41% !important;
		transform: matrix(1, 0, 0, 1, 0, -25) !important;
	}
	
	.entry-content-inner blockquote::before  {
		left: 10px;
	}
	.entry-content-inner blockquote p {
		margin-left: 70px;
	}
	
	.contentRow.offer_service {
		padding-bottom: 30px;
	}
	.offer_service_carousel  {
		padding-top: 30px;
	}
	.marketing_app ul li {
		padding-bottom: 20px;
	}
	.marketing_app ul {
		margin-bottom: 30px;
	}
	.sv_subjects li:nth-child(2n+1) {
		clear: both;
	}
	
	.about_company h2 {
		margin-top: 30px;
	}

	.list-inline.share_buttons li {
		margin-bottom: 10px;
	}
	
  .trial30_banner {
    height: auto;
    background-size: cover;
    padding-bottom: 45px;
  }
  .trial30_banner .col-sm-10 .row,
  .trial30_banner .col-sm-2 .row {
    margin: 0;
  }
  .trial30_banner .row {
    margin: 0;
  }
  
  /* -- Comments */
  .replay-block {
	padding-left: 110px;
  }
  .comment-list .children {
	margin-left: 0;
	padding-left: 15px;
  }
  
  .comment-respond .form-submit .btn.btn-warning {
	width: auto;
  }
  .form-right {
	padding-left: 0;
  }
  .blog-single .blog-list-content {
	padding: 0 20px;
  }
	
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  .feature_col .media-body h5:after {
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .feature_col .media-body h5:after {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .feature_cols + .feature_cols {
    margin-top: 30px;
  }
  .feature_col .media-body h5:after {
    margin-top: 10px;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  .service_box .hover_box {
    padding: 30px 30px 50px;
  }
  .page_service_details .service_descs .fpara ul li {
    letter-spacing: 0;
    font-size: 13px;
  }
  .page_service_details .service_descs .fpara ul li i {
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 9px;
  }
  .page_service_details .service_descs .funFacts .fact h6 {
    line-height: 18px;
  }
}
@media (max-width: 991px) {
  .service_box .hover_box .inner .about {
    top: 65px;
  }
  .discover_services .services_secs .service_box {
    width: 50%;
  }
  .service_sidebar {
    width: 100%;
    margin-top: 30px;
  }
  .page_service_details .service_descs {
    width: 100%;
  }
  .page_service_details .service_descs .fpara {
    width: 100%;
    padding-right: 0;
  }
  .page_service_details .service_descs .fpara ul li {
    letter-spacing: 0.5px;
    font-size: 14px;
  }
  .page_service_details .service_descs .fpara ul li i {
    width: 30px;
    height: 30px;
    line-height: 26px;
    margin-right: 20px;
    font-size: 12px;
  }
  .page_service_details .service_descs .big_img {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
  }
  .page_service_details .service_descs .big_img img {
    display: inline-block;
  }
  /* -- Comments */
  .replay-block .comment-datetime {
	float: left;
	width: 100%;
  }
}
@media (max-width: 767px) {
  .discover_services .services_secs .service_box {
    width: 100%;
  }
  .page_service_details .service_descs .sv_subjects li {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .discover_services .heading_secs {
    width: 100%;
    padding-bottom: 90px;
    display: block;
  }
  .discover_services .services_secs {
    width: 100%;
    display: block;
  }
  .discover_services .services_secs .service_box:nth-child(3n+2) {
    padding: 2px 0;
  }

}
@media (max-width: 519px) {
  .page_service_details .service_descs .sv_subjects li {
    width: 100%;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  footer .top_footer .footer_widgets .footer_widget .body .links {
    columns: 140px 2;
  }
}
@media (max-width: 991px) {
  footer .top_footer .footer_widgets .footer_widget .body .socials li {
    margin-bottom: 7px;
  }
  footer .top_footer .footer_widgets .footer_widget .body .links {
    columns: 220px 1;
  }
  footer .top_footer .footer_widgets .footer_widget .body #mc_embed_signup .mailchimp_form .submit_btn span {
    line-height: 45px;
  }
  footer .top_footer .footer_widgets2 .nav li a {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  footer .top_footer .footer_widgets .footer_widget + .footer_widget {
    margin-top: 20px;
  }
  footer .top_footer .footer_widgets2 {
    line-height: 40px;
  }
  footer .top_footer .footer_widgets2 .nav li a {
    border: none;
    display: block;
  }
  footer .top_footer .footer_widgets2 .nav li a:hover {
    border: none;
    background: rgba(0, 0, 0, 0.1);
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 991px) {
  .page_404 .text-center h2 {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .page_404 .col-sm-6 {
    text-align: center;
  }
  .page_404 .col-sm-6 img {
    display: inline-block;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 767px) {
  .pageCover {
    padding: 100px 0;
  }
  .pageCover .container {
    padding: 0 15px;
  }
  .pageCover h3 {
    display: block;
    float: none;
  }
  .pageCover .breadcrumb {
    float: left;
    margin-top: 20px;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 767px) {
  .page_checkout {
    margin: 0;
  }
  .radios .radio_check {
    width: 100%;
    margin-right: 0;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 767px) {
  .contact_details .col-sm-3 + .col-sm-3 {
    border-bottom: 1px solid #ececec;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  .package .inner {
    padding: 30px 20px;
  }
}
@media (max-width: 991px) {
  .package .inner .col-sm-6 {
    width: 100%;
    text-align: center;
  }
  .package .inner .col-sm-6 img {
    display: inline-block;
  }
  .detailsRow .package_details .links {
    padding-top: 30px;
  }
  .detailsRow .package_details .links a {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .page_packages {
    margin: 0;
  }
  .pkg_tab .tab-content .tab-pane .tab_lists {
    width: 100%;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  .pricing_table .inner {
    padding: 0 35px 50px;
  }
}
@media (max-width: 991px) {
  .pricing_table .inner {
    padding: 0 10px 50px;
  }
}
@media (max-width: 767px) {
  .page_pricing {
    margin: 0;
  }
  .pricingTab {
    margin: 0;
  }
  .pricing_table {
    max-width: 350px;
    margin: 0 auto;
  }
  .pricing_table + .pricing_table {
    margin-top: 30px;
  }
  .pricing_table .inner .feature {
    width: 200px;
    margin: 0 auto;
  }
  .pricing_table .inner .feature li {
    text-align: center;
  }
  .page_faq .faqs {
    margin-top: 40px;
	margin-bottom: 0;
  }
  .page_faq .faqs .col-sm-6:first-child {
    padding: 0 15px;
  }
  .page_faq .faqs .col-sm-6:last-child {
    padding: 0 15px;
    margin-top: 40px;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  .our_clients .clients_carousel .owl-controls .owl-nav div {
    display: block !important;
  }
  .testimonial .media .media-left {
    padding-right: 30px;
  }
  .testimonial .media .media-body .inner {
    padding: 35px 40px 40px 30px;
  }
  .testimonial .media .media-body .inner .identity .pos {
    display: block;
    margin: 5px 0 0;
  }
}
@media (max-width: 991px) {
	.woocommerce-checkout 
	.woocommerce form .form-row-first, 
	.woocommerce-checkout .woocommerce form .form-row-last, 
	.woocommerce-checkout .woocommerce-page form .form-row-first, 
	.woocommerce-checkout .woocommerce-page form .form-row-last {
		width: 100%;
	}
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
		width: 100%;
	}
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
		width: 100%;
	}
  .team_members {
    text-align: center;
  }
  .team_members .team {
    width: 49%;
    display: inline-block;
  }
  .testimonial .media .media-left {
    padding-right: 20px;
  }
  .testimonial .media .media-body .inner {
    padding: 20px;
  }
  .testimonial .media .media-body .inner:before {
    font-size: 50px;
    right: 30px;
  }
  
  .case-portfolio > div {
	max-width: 272px;
	margin: 0 auto;
	display: block;
  }
}
@media (max-width: 767px) {
  .offer_service.home_page > .container > .row {
    margin: 0;
  }
  .offer_service.home_page .col-sm-6 {
    width: 100%;
  }
  .offer_service .offer_service_carousel {
    margin-top: 40px;
  }
  .funfacts_ab {
    padding-top: 20px;
  }
  .funfacts_ab .fact {
    text-align: center;
    padding: 0 0 10px;
  }
.funfacts_ab .fact:nth-child(4n+1),
.counter-box {
	text-align: center;
}
  .funfacts_ab .fact {
    border: none;
	padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 0;
  }
  .funfacts_ab .fact:first-of-type {
	border: 0 none;
	padding-top: 0;
  }

  .funfacts_ab .fact h3 {
    margin: 0;
  }
  .funfacts_ab .fact h5 {
    line-height: 16px;
  }
  .team_members .team {
    width: 100%;
  }
  .team_members .team .inner {
    width: 247px;
    margin: 0 auto;
    float: none;
    overflow: hidden;
  }
  .testimonial + .testimonial {
    margin-top: 25px;
  }
  .case-portfolio {
	width: 50%;
  }
}
@media (max-width: 360px) {
  .offer_service .offer_service_carousel {
    margin-top: 60px;
  }
  .testimonial + .testimonial {
    margin-top: 25px;
  }
  .testimonial .media .media-left {
    padding: 0;
    display: block;
    text-align: center;
  }
  .testimonial .media .media-left a {
    display: inline-block;
  }
  .case-portfolio {
	position: relative !important;
	max-width: 272px;
	margin-left: auto;
	margin-right: auto;
	left: 0 !important;
	top: 0 !important;
  }
  .marketing_app .download_links a:first-of-type {
	margin-bottom: 20px;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 767px) {
  .sidebar {
    margin-top: 40px;
  }
  .widget {
    margin: 0 0 40px;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 767px) {
  .blog_sec {
    padding-right: 15px;
  }
  .single_post .post_content blockquote:before {
    width: 80px;
  }
  .latest_blog {
    max-width: 400px;
    margin: 0 auto;
  }
  .latest_blog + .latest_blog {
    margin-top: 20px;
  }
}
@media (max-width: 440px) {
  .comment .media-left {
    padding-right: 10px;
  }
  .comment .media-left a img {
    width: 50px;
    height: 50px;
  }
  .comment.reply_comment {
    padding-left: 15px;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  /*CASES*/
  /*CASES*/
  .recentCaseStudies .case {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .page_case_study .results h3 {
    margin-top: 0;
  }
  /*CASES*/
  /*CASES*/
  .recentCaseStudies {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .page_case_study .trenz_master .container > .row {
    margin: 0;
  }
  .page_case_study .traffic {
    padding: 60px 0;
  }
  .page_case_study .traffic img {
    display: inline-block;
  }
  .page_case_study .traffic .col-sm-6 + .col-sm-6 {
    margin-top: 35px;
  }
  .page_case_study .challenge .container > .row,
  .page_case_study .results .container > .row {
    margin: 0;
  }
  .page_case_study .challenge .col-sm-offset-1,
  .page_case_study .results .col-sm-offset-1 {
    margin-top: 30px;
    text-align: center;
  }
  .page_case_study .challenge .col-sm-offset-1 img,
  .page_case_study .results .col-sm-offset-1 img {
    display: inline-block;
  }
  .page_case_study .results img {
    display: inline-block;
    margin-bottom: 30px;
  }
  /*CASES*/
  .recentCaseStudies .case {
	max-width: 272px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
  }
}
@media (max-width: 700px) {
  #filters {
    padding: 0 30px;
  }
  #filters li {
    float: left;
    margin: 0.5%;
    width: 49%;
    background: #f7f8f9;
  }
  /*CASES*/
  /*CASES*/
  .recentCaseStudies {
    width: 300px;
  }
}

@media (max-width: 600px) {
	.woocommerce-checkout .woocommerce form .form-row-first, 
	.woocommerce-checkout .woocommerce form .form-row-last, 
	.woocommerce-checkout .woocommerce-page form .form-row-first, 
	.woocommerce-checkout .woocommerce-page form .form-row-last {
		width: 100%;	
	}
}

@media (max-width: 479px) {
	.homeslide .tp-caption.circle-blue, .circle-blue,
	.homeslide .tp-caption.circle-yellow, .circle-yellow,
	.homeslide .tp-caption.circle-red, .circle-red  {
		width: 0px;
		height: 0px;
	} 
	
	.tp-bullets.hebe.horizontal.noSwipe {
		transform: matrix(1, 0, 0, 1, 0, -20) !important;
	}
	
}
@media (max-width: 410px) {
  #filters {
    padding: 0 30px;
  }
  #filters li {
    float: left;
    margin: 0 0 1px;
    width: 100%;
    background: #f7f8f9;
  }
  /*CASES*/
  /*CASES*/
}
@media (max-width: 371px) {
  /*CASES*/
  /*CASES*/
  .ready_to_work {
    padding-top: 40px;
  }
  
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  .successive_process .successive_process_inner {
    background-size: contain;
  }
  .successive_process .successive_process_inner .process {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .successive_process .successive_process_inner {
    background: none !important;
    text-align: center;
  }
  .successive_process .successive_process_inner .process {
    margin: 0 20px 40px;
    display: inline-block;
    float: none;
  }
}
/*----------------------------------------------------------------*/
@media (max-width: 1199px) {
  .marketing_app .page_title {
    margin-top: 30px;
  }
  .marketing_app ul li {
    margin-right: 15px;
  }
}
@media (max-width: 991px) {
  .marketing_app {
    background-size: cover;
  }
  .marketing_app .download_links {
    padding-bottom: 50px;
  }
  .marketing_app .col-sm-offset-1 {
    padding-top: 140px;
  }
}
@media (max-width: 767px) {
  .marketing_app .row {
    margin: 0;
  }
  .marketing_app .col-sm-offset-1 {
    padding-top: 0;
    text-align: center;
  }
  .marketing_app .col-sm-offset-1 img {
    display: inline-block;
  }
}
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
@media (max-width: 1400px) {
  .bannercontainer .main_slider {
    max-width: 1200px;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading4 {
    left: 0;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading5 {
    left: 0;
  }
  .bannercontainer .main_slider .banner_heading3.banner_heading7 {
    left: 0;
  }
  .bannercontainer .main_slider .first_slide_para.third_slide_para {
    left: 0;
  }
  .bannercontainer .main_slider .shapes {
    top: 50px;
    left: 540px;
  }
  .bannercontainer .main_slider .mac_view {
    top: 370px;
    left: 725px;
  }
  .bannercontainer .main_slider .presenter {
    left: 0;
  }
  .bannercontainer .main_slider .graph {
    left: 755px;
  }
  .bannercontainer .main_slider .website_form {
    left: 0;
  }
  .bannercontainer .main_slider .grow_mac {
    left: 700px;
  }
  .bannercontainer .main_slider .sv.sv1 {
    left: 15px;
  }
  .bannercontainer .main_slider .sv.sv2 {
    left: 267px;
  }
  .bannercontainer .main_slider .sv.sv3 {
    left: 540px;
  }
  .bannercontainer .main_slider .sv.sv4 {
    right: 267px;
  }
  .bannercontainer .main_slider .sv.sv5 {
    right: 15px;
  }
}
@media (max-width: 1199px) {
  .bannercontainer .main_slider {
    max-width: 970px;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading2 {
    left: 300px;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading4 {
    left: 0;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading5 {
    left: 0;
  }
  .bannercontainer .main_slider .banner_heading3 {
    left: 427px;
  }
  .bannercontainer .main_slider .banner_heading3.banner_heading7 {
    left: 0;
  }
  .bannercontainer .main_slider .first_slide_para.third_slide_para {
    left: 0;
  }
  .bannercontainer .main_slider .shapes {
    top: 80px;
    left: 700px;
    background: none;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media {
    float: left;
    display: inline-block;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.business_grow {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.complete_projects {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.staisfied_clients {
    margin-left: 0;
  }
  .bannercontainer .main_slider .mac_view {
    top: 390px;
    left: 200px;
  }
  .bannercontainer .main_slider .presenter {
    left: 0;
    top: 280px;
  }
  .bannercontainer .main_slider .presenter img {
    max-width: 400px;
    height: auto !important;
  }
  .bannercontainer .main_slider .graph {
    left: 500px;
  }
  .bannercontainer .main_slider .website_form {
    left: 0;
  }
  .bannercontainer .main_slider .grow_mac {
    left: 570px;
  }
  .bannercontainer .main_slider .grow_mac img {
    max-width: 400px;
    height: auto !important;
  }
  .bannercontainer .main_slider .sv.sv1 {
    left: 0;
  }
  .bannercontainer .main_slider .sv.sv2 {
    left: 180px;
  }
  .bannercontainer .main_slider .sv.sv3 {
    left: 400px;
  }
  .bannercontainer .main_slider .sv.sv4 {
    right: 180px;
  }
  .bannercontainer .main_slider .sv.sv5 {
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) { 

	.homeslide .tp-caption.circle-blue, .circle-blue,
	.homeslide .tp-caption.circle-yellow, .circle-yellow,
	.homeslide .tp-caption.circle-red, .circle-red  {
		width: 50px;
		height: 50px;
		margin-left: -5px !important;
	}

	.button-text-link {
		padding-left: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.logo-block .nav li:first-of-type {
		margin-bottom: 10px;
	}
	.logo-block .nav li {
		margin-left: 0;
	}
	
	.comment-respond .form-right {
		padding-left: 0;
		padding-right: 15px;
	}
	.form-submit .btn.btn-warning {
		margin-right: 15px;
	}
	.marketing_app ul {
		margin-bottom: 20px;
	}
	.marketing_app ul li {
		margin-bottom: 20px;
	}
	
}
@media (max-width: 767px) {

	.logo-block .nav {
		margin-top: 20px;
	}
	.logo-block .nav li:first-of-type {
		margin-bottom: 20px;
	}
	.logo-block .nav li {
		margin-left: 0px;
	}
	
	.top_row .nav.navbar-right {
		float: left;
	}
	.top_row .navbar-right {
		text-align: left;
	}
	.header-main .top_row .tagLine,
	.top_row .navbar-right li a {
		line-height: 26px;
	}

  .bannercontainer .main_slider {
    max-width: 970px;
    min-height: 550px !important;
  }
  .bannercontainer .main_slider .banner_heading {
    left: 50px;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading2 {
    left: 100px;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading4 {
    left: 50px;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading5 {
    left: 50px;
  }
  .bannercontainer .main_slider .banner_heading3 {
    left: 100px;
  }
  .bannercontainer .main_slider .banner_heading3.banner_heading7 {
    left: 0;
  }
  .bannercontainer .main_slider .get_in_touch {
    left: 50px;
  }
  .bannercontainer .main_slider .first_slide_para {
    left: 50px;
  }
  .bannercontainer .main_slider .first_slide_para.third_slide_para {
    left: 50px;
  }
  .bannercontainer .main_slider .shapes {
    display: none;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media {
    float: left;
    display: inline-block;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.business_grow {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.complete_projects {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.staisfied_clients {
    margin-left: 0;
  }
  .bannercontainer .main_slider .mac_view {
    display: none;
  }
  .bannercontainer .main_slider .presenter {
    left: 0;
    top: 280px;
    display: none;
  }
  .bannercontainer .main_slider .presenter img {
    max-width: 400px;
    height: auto !important;
  }
  .bannercontainer .main_slider .graph {
    left: 100px;
  }
  .bannercontainer .main_slider .website_form {
    left: 50px;
  }
  .bannercontainer .main_slider .grow_mac {
    left: 570px;
    display: none;
  }
  .bannercontainer .main_slider .grow_mac img {
    max-width: 400px;
    height: auto !important;
  }
  .bannercontainer .main_slider .browser {
    display: none;
  }
  .bannercontainer .main_slider .sv {
    width: 200px;
  }
  .bannercontainer .main_slider .sv img.arrow {
    display: none;
  }

  .bannercontainer .main_slider .sv.sv1 img.icon {
    float: left;
    margin: 0 15px 0 0;
  }
  
  .bannercontainer .main_slider .sv.sv2 img.icon {
    float: left;
    margin: 0 15px 0 0;
  }
  .bannercontainer .main_slider .sv.sv3 img.icon {
    float: left;
    margin: 0 15px 0 0;
    display: table;
  }
  .bannercontainer .main_slider .sv.sv3 img.arrow {
    display: none;
  }
  .bannercontainer .main_slider .sv.sv4 img.icon {
    float: left;
    margin: 0 15px 0 0;
  }
  .bannercontainer .main_slider .sv.sv5 img.icon {
    float: left;
    margin: 0 15px 0 0;
  }
}
@media (max-width: 700px) {
  body.home {
    overflow-x: hidden;
  }
  .bannercontainer .main_slider {
    min-height: 550px !important;
  }
  .bannercontainer .main_slider .banner_heading {
    font-size: 28px !important;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .bannercontainer .main_slider .banner_heading span {
    font-size: 28px !important;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading2 {
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px !important;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading4 {
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px !important;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading4 span {
    font-size: 24px !important;
  }
  .bannercontainer .main_slider .banner_heading.banner_heading5 {
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px !important;
  }
  .bannercontainer .main_slider .banner_heading3 {
    left: 0;
    width: 100%;
    text-align: center;
  }
  .bannercontainer .main_slider .banner_heading3.banner_heading7 {
    left: 0;
    width: 100%;
    text-align: center;
  }
  .bannercontainer .main_slider .first_slide_para {
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 24px !important;
  }
  .bannercontainer .main_slider .first_slide_para.third_slide_para {
    left: 0;
  }
  .bannercontainer .main_slider .shapes {
    display: none;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media {
    float: left;
    display: inline-block;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.business_grow {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.complete_projects {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .bannercontainer .main_slider .shapes .shapes_inner .media.staisfied_clients {
    margin-left: 0;
  }
  .bannercontainer .main_slider .mac_view {
    display: none;
  }
  .bannercontainer .main_slider .presenter {
    left: 0;
    top: 280px;
    display: none;
  }
  .bannercontainer .main_slider .presenter img {
    max-width: 400px;
    height: auto !important;
  }
  .bannercontainer .main_slider .graph {
    left: 100px;
  }
  .bannercontainer .main_slider .grow_mac {
    left: 570px;
    display: none;
  }
  .bannercontainer .main_slider .grow_mac img {
    max-width: 400px;
    height: auto !important;
  }
  .bannercontainer .main_slider .browser {
    display: none;
  }
  .bannercontainer .main_slider .sv {
    width: 200px;
  }
  .bannercontainer .main_slider .sv img.arrow {
    display: none;
  }
  .bannercontainer .main_slider .sv.sv1 img.icon {
    float: left;
    margin: 0 15px 0 0;
  }
  .bannercontainer .main_slider .sv.sv2 img.icon {
    float: left;
    margin: 0 15px 0 0;
  }
  .bannercontainer .main_slider .sv.sv3 img.icon {
    float: left;
    margin: 0 15px 0 0;
    display: table;
  }
  .bannercontainer .main_slider .sv.sv3 img.arrow {
    display: none;
  }
  .bannercontainer .main_slider .sv.sv4 img.icon {
    float: left;
    margin: 0 15px 0 0;
  }
  .bannercontainer .main_slider .sv.sv5 img.icon {
    float: left;
    margin: 0 15px 0 0;
  }
}