.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	box-sizing: border-box;
	float: left;
	width: 50%;
	margin: 0 0 50px 0;
	padding: 0 25px;
}
.woocommerce .products ul, 
.woocommerce ul.products {
	margin: 0 -25px;
}
.woocommerce ul.products li.product .products-inner,
.woocommerce-page ul.products li.product .products-inner {
	width: 100%;
}
.woocommerce ul.products li.product .products-inner,
.woocommerce-page ul.products li.product .products-inner,
.woocommerce div.product div.images {
	background-color: #E2E2E2;
	display: inline-block;
	padding: 50px 20px;
	position: relative;
}
.woocommerce ul.products li.product .product-img-hover, 
.woocommerce-page ul.products li.product .product-img-hover,
.woocommerce ul.products li.product .products-details-inner, 
.woocommerce-page ul.products li.product .products-details-inner {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 0 10px;
}
.woocommerce ul.products li.product .onsale {
	top: 20px;
	right: 25px;
}
.woocommerce ul.products li.product h3, 
.woocommerce ul.products li.product h3 a {
	color: #000000;
}
.woocommerce ul.products li.product h3 {
    font-family: "Cabin",sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 0px;
	text-transform: uppercase;
}
.woocommerce ul.products li.product .price {
	color: #f08a47;
    font-family: "Montserrat",sans-serif;
    font-size: 40px;
    letter-spacing: 0.2px;
    line-height: 1;
    margin: 0 0 25px 0;
}
.woocommerce ul.products li.product .price del {
	display: inline-block;
	margin-right: 10px;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dadada;
    border-radius: 25px;
    color: #232323;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 35px;
    padding: 1px 20px;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
	background-color: rgba(0, 0, 0, 0);
    border: 2px solid #27ae61;
    padding-left: 20px;
    padding-right: 20px;
}
.woocommerce ul.products li.product a img,
.woocommerce div.product div.images img {
	width: auto;
	margin: 0 auto 10px;
}

/* -- Single Product */
.woocommerce .product .summary  .product_title {
	color: #232323;
    font-family: "Cabin",sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin: 25px 0 10px;
    text-transform: uppercase;
}
.woocommerce .product .summary  p.price, 
.woocommerce .product .summary  span.price {
	color: #e99443;
    font-family: "Cabin",sans-serif;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 0;
}
.woocommerce .product .summary  .summary-inner div p {
	border-top: 1px solid #e8e8e8;
    color: #777777;
    font-family: "Droid Serif",serif;
    font-size: 13px;
    line-height: 24px;
    padding: 15px 0;
}

.reviews-rating {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 30px;
}
.reviews-rating a {
	font-family: "Cabin",sans-serif;
    letter-spacing: 0.5px;
    line-height: 38px;
	color: #333;
}
.woocommerce .reviews-rating  .star-rating,
.woocommerce .comment-text .star-rating {
	width: 6.4em;
}
.reviews-rating .woocommerce-product-rating {
	float: right;
	margin-bottom: 0;
}
.reviews-rating .woocommerce-product-rating .star-rating {
	font-size: 14px;
	margin-top: 13px;
}
.woocommerce .reviews-rating .star-rating::before,
.woocommerce .comment-text .star-rating::before {
	content: "s s s s s";
	color: #777;
}
.woocommerce .reviews-rating .star-rating span::before,
.woocommerce .comment-text .star-rating span::before {
	content: "s s s s s";
	color: #e99443;
}
.woocommerce div.product .summary form.cart div.quantity {
	margin-top: 12px;
	margin-right: 30px;
}
.woocommerce div.product .summary form.cart .button {
	border: 3px solid #27ae61;
	background-color: transparent;
	color: #27ae61;
	transition: none;
}
.woocommerce div.product .summary form.cart .button:hover {
	transition: none;
}
.wc-tab .comment-form-rating .stars a {
	color: #777;
}
.wc-tab .comment-form-rating .stars a:hover {
	color: #e99443;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	border-width: 2px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.product_meta span {
	font-size: 15px;
	font-weight: bold;
}
.product_meta span a {
	color: #777;
	text-decoration: none;
}
.product_meta span a:hover {
	color: #27ae61;
}
/* -- Reviews Tabs */
.woocommerce div.product .woocommerce-tabs  {
	margin-bottom: 75px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding-left: 0;
	margin-bottom: 0;
	border-bottom: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom-color: #e8e8e8;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	padding: 0;
	border-radius: 0;
	border: 1px solid #e8e8e8;
	margin: 0;
	float: left;
	background-color: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #232323;
    font-family: "Droid Serif",serif;
    line-height: 40px;
	font-weight: normal;
    margin: 0;
    padding: 0 38px;
    transition: all 300ms ease-in-out 0s;
	font-size: 14px;
	border-top: 3px solid transparent
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
	background-color: #EEEEEE;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	border-top-color: #27ae61;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:focus {
	background-color: transparent;
}
.woocommerce div.product .woocommerce-tabs .panel {
	padding: 30px;
	border: 1px solid #e8e8e8;
	border-top: none;
}
.wc-tab h2 {
	color: #232323;
    font-family: "Cabin",sans-serif;
    font-size: 22px;
    letter-spacing: 0.4px;
    line-height: 24px;
    margin-bottom: 40px;
}
.wc-tab p {
	color: #777777;
    font-family: "Droid Serif",serif;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.single-product .page-content {
	padding: 0 15px;
}

.product-related h2,
.cart_totals h2,
.cross-sells h2 {
	font-family: "Cabin",sans-serif;
    letter-spacing: 0.5px;
    line-height: 24px;	
	font-size: 24px;
	position: relative;
}
.cart_totals h2,
.cross-sells h2 {
	margin-bottom: 20px;
}
.product-related h2::after {
    background: #e99544 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin: 10px 0 45px;
    width: 40px;
}

/* -- Cart */
.woocommerce-cart table.shop_table {
	border-radius: 0;
}
.woocommerce-cart table.shop_table,
.woocommerce-cart table.shop_table tr {
	border: 1px solid #e8e8e8;
}
.woocommerce table.shop_table.cart td {
	border-top: 1px solid #e8e8e8;
	padding-top: 25px;
	padding-bottom: 25px;
}
.woocommerce-cart table.cart .product-name a {
	font-family: "Cabin",sans-serif;
	font-size: 14px;
	font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 24px;	
	position: relative;	
	color: #000;
	text-decoration: none;
}
.product-price .amount,
.product-subtotal .amount,
.order-total .amount {
	color: #e99443;
	font-family: "Cabin",sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding-bottom: 12px;
	padding-top: 12px;
	margin-right: 25px; 
	width: auto;
}
.woocommerce-cart table.cart input {
	line-height: 40px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	background-color: transparent;
	color: #777;
	border: 3px solid #e8e8e8;
	padding: 0;
	font-size: 16px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
	border-color: #27ae61;
	background-color: transparent;
	color: #777;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products li {
	width: 100%;
}
.woocommerce-checkout .woocommerce p {
	color: #777;
	font-family: "Cabin",sans-serif;
	font-size: 16px;
}
.woocommerce-checkout .woocommerce .woocommerce-thankyou-order-received {
	color: #e99443;
	font-family: "Cabin",sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}
.woocommerce-thankyou-order-details {
	padding-left: 0;
	border-left: 1px solid #e8e8e8; 
	border-right: 1px solid #e8e8e8; 
}
.woocommerce .order_details li {
	display: inline-block;
	width: 25%;
	box-sizing: border-box;
	margin: 0;
	padding: 20px 15px 15px;
	text-align: center;
	border-right: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
.woocommerce .order_details li:last-of-type {
	border-right: none;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
.woocommerce .order_details li strong {
	color: #27ae61;
	margin-top: 10px;
}
.woocommerce-checkout .woocommerce h2 {
	font-family: "Cabin",sans-serif;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 24px;
    position: relative;
}
.woocommerce-checkout .woocommerce h2::after {
    background: #e99544 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin: 10px 0 45px;
    width: 40px;
}
.shop_table.order_details a {
	color: #27ae61;
	font-size: 16px;
	font-weight: 500;
}

.woocommerce-checkout .woocommerce address {
	font-family: "Cabin",sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 30px;
	font-style: normal;
	color: #000;
}

.shop_table.shop_table_responsive.cart {
	margin-top: 55px;
}

.woocommerce-checkout .woocommerce-billing-fields h3,
.woocommerce-checkout .woocommerce-shipping-fields h3,
.woocommerce-checkout > h3#order_review_heading {
	font-family: "Cabin",sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
}
.woocommerce-checkout .woocommerce-billing-fields h3::after,
.woocommerce-checkout .woocommerce-shipping-fields h3::after,
.woocommerce-checkout > h3#order_review_heading::after {
    background: #ea9c50 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin: 15px 0 45px;
    width: 40px;
}
.woocommerce-checkout .woocommerce form .form-row-first, 
.woocommerce-checkout .woocommerce form .form-row-last, 
.woocommerce-checkout .woocommerce-page form .form-row-first, 
.woocommerce-checkout .woocommerce-page form .form-row-last {
	width: 49%;
}
.woocommerce-checkout .woocommerce-billing-fields label {
	font-family: "Droid Serif",serif;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 8px;
	color: #333333;
}
.woocommerce-checkout .woocommerce form .form-row input.input-text, 
.woocommerce-checkout .woocommerce form .form-row textarea {
	border: 1px solid #e7e7e7;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
	margin-bottom: 15px;
    padding: 0 15px;
}
.woocommerce-checkout .woocommerce form .form-row.woocommerce-validated .select2-container, 
.woocommerce-checkout .woocommerce form .form-row.woocommerce-validated input.input-text, 
.woocommerce-checkout .woocommerce form .form-row.woocommerce-validated select {
	border: 1px solid #e7e7e7;
    border-radius: 0;
}
.woocommerce-checkout .select2-container .select2-choice {
	border: none;
}
.woocommerce-checkout .woocommerce form .form-row textarea {
	height: 120px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.woocommerce-checkout .woocommerce form .form-row input.input-text:focus, 
.woocommerce-checkout .woocommerce form .form-row textarea:focus {
	border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.woocommerce-checkout .place-order input.button[disabled="disabled"],
.woocommerce-checkout .place-order input.button:hover[disabled="disabled"],
.woocommerce-checkout .place-order input.button,
.woocommerce-checkout .place-order input.button:hover {
	background-color: transparent;
	color: #27ae61;
	border-color: #27ae61;
}
.woocommerce .woocommerce-message {
	margin-top: 40px !important;
}
.woocommerce .cart-empty {
	text-align: center;
	margin-top: 40px;
}
.woocommerce .return-to-shop {
	text-align: center;
	margin-bottom: 40px;
}

/* -- Widget */
.widget-area .woocommerce-widget .widget-title {
	margin-bottom: 25px;
}
.woocommerce-widget .star-rating::before {
	content: "s s s s s";
	color: #777;
}
.woocommerce-widget .star-rating span::before {
	content: "s s s s s";
	color: #e99443;
}
/* -- Top Product List */
.woocommerce .widget_top_rated_products ul.product_list_widget li {
	padding: 12px;
}
.woocommerce .widget_top_rated_products ul.product_list_widget li:hover {
	background-color: transparent;
}
.woocommerce .widget_top_rated_products ul.product_list_widget li a {
	text-decoration: none;
}
.woocommerce .widget_top_rated_products ul.product_list_widget li .product-title:hover {
	color: #27ae61;
}

/* -- Product Category */
.woocommerce-widget.widget_product_categories  ul li:hover {
	background-color: transparent;
}
.woocommerce-widget.widget_product_categories  ul li {
	padding-bottom: 0;
    padding-top: 0;
	border: none;
}
.woocommerce-widget.widget_product_categories  ul li a {
	border-bottom: 1px solid #e8e8e8;
	padding: 12px;
	display: inline-block;
	width: 100%;
	text-decoration: none
}
.woocommerce-widget.widget_product_categories  ul li a:hover {
	background-color: #EEEEEE;
}
.woocommerce-widget.widget_product_categories  ul li .children {
	padding-left: 15px;
}

/* -- Product Price Filer */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #e8e8e8;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #27ae61;
}
.woocommerce .widget_price_filter .price_slider_wrapper {
	margin-top: 15px;
}

/* -- Search */
.widget_product_search .woocommerce-product-search input[type="search"] { 
	height: 40px;
}
.widget_product_search .woocommerce-product-search input[type="submit"] {
	padding: 8px 12px;
	margin-top: 15px;
}

.woocommerce .wc-tab ul  {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.woocommerce .wc-tab h3 {
	color: #232323;
	font-family: "Cabin",sans-serif;
	font-size: 22px;
	letter-spacing: 0.4px;
	line-height: 24px;
	margin-bottom: 40px;
	
}

.woocommerce .wc-tab ul  {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.woocommerce .wc-tab ul li:before {
	color: #27ae61;
	content: "\25A0";
	display: inline-block;
	padding-left: 5px;
	padding-right: 15px;
	margin-right: 0;
}
.woocommerce .wc-tab ul li {
	color: #777777;
	font-family: "Droid Serif",serif;
	letter-spacing: 0.5px;
	line-height: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
}
.woocommerce .wc-tab ul li:before {
	color: #27ae61;
	content: "\25A0";
	display: inline-block;
	padding-left: 5px;
	padding-right: 15px;
	margin-right: 0;
}
.woocommerce .wc-tab ul li {
	color: #777777;
	font-family: "Droid Serif",serif;
	letter-spacing: 0.5px;
	line-height: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
}

.woocommerce span.onsale {
	z-index: 1;
	top: 0.5em;
	left: 0.5em;
}
@media (min-width: 992px) {
	
	.woocommerce .wc-tab  ul:nth-child(even) li:last-of-type ,
	.woocommerce .wc-tab ul:nth-child(odd) li:last-of-type {
			margin-bottom: 0;
	}
	.woocommerce .wc-tab ul:nth-child(odd){
		width: 50%;
		display: inline-block;
	}
	.woocommerce .wc-tab  ul:nth-child(even) {
		float: right;
		width: 50%;
	}
}

/* -- min-width: 1201 to max-width: 1366 */
@media (max-width: 991px) {
	.woocommerce ul.products li.product .product-img-hover, 
	.woocommerce-page ul.products li.product .product-img-hover,
	.woocommerce ul.products li.product .products-details-inner, 
	.woocommerce-page ul.products li.product .products-details-inner {
		width: 100%;
	}
}


@media (max-width: 767px) {
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
		width: 100%;
		text-align: center;
	}
	.woocommerce table.shop_table td,
	.woocommerce-checkout .woocommerce {
		padding-left: 20px;
		padding-right: 20px;
	}
	.woocommerce .order_details {
		border: none;
	}
	.woocommerce .order_details li {
		width: 50%;
		margin-bottom: 10px;
		border: 1px solid #e8e8e8;
	}
	.woocommerce .order_details li:last-of-type {	
		border: 1px solid #e8e8e8;
	}
}
@media (max-width: 479px) {
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		margin-bottom: 10px;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text,
	.woocommerce-cart table.cart td.actions input.button {
		width: 100%;
	}
}